[submodule "external/mongoose"]
	path = external/mongoose
	url = git@github.com:cesanta/mongoose.git
[submodule "external/cJSON"]
	path = external/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "external/inih"]
	path = external/inih
	url = git@github.com:benhoyt/inih.git
[submodule "runtime/wasm-micro-runtime"]
	path = runtime/wasm-micro-runtime
	url = git@github.com:WiseLabCMU/wasm-micro-runtime.git
