[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
eventlet = "*"
flask = "*"
flask-mqtt = "*"
flask-socketio = "*"
flask-cors = "*"
flask-bootstrap = "*"

[requires]
python_version = "3.5"
